.container {
    height: 100vh;
    display: flex;
}

@media (max-width: 768px) {
    .animated_heading {
        padding-left: 10% !important;
    }
  }

.animated_heading {
    align-items: center;
    padding-left: 25%;
}

#header {
    align-items: flex-start;
    padding-left: 1.5rem;
    border-left: 1px solid grey;
    height: 40vh;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
}