<section class="container" id="section1">
    <div class="row animated_heading">
        <div class="col-2">hi</div>
        <div class="col-8" id="header"></div>
        <div class="col-2 heading-right">
            <div class="date"><span>2022</span></div>
            <div class="page-navigation">
                <div>
                    <p (click)="goToPreviousSection()" style="cursor: pointer;">^</p>
                    <p>{{currectSectionNumber}}</p>
                    <p>-</p>
                    <p>{{sectionsCount}}</p>
                    <p (click)="goToNextSection()" style="cursor: pointer;">v</p>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</section>

<section class="container" id="section2">hey</section>