<div class="wrapper">
    <div data-text></div>
    <!--<div data-text3></div> -->
    <h1 class="item">UI & UX designer</h1>
     <!-- <h1 class="item">Webdesigner</h1> -->
    <!--<h1 class="item3">Frontend developer</h1> -->
</div>



<!-- <div class="flex height-fix" style="height: 100vh;">
    <div id="animated-background"></div>
    <div class="flex" style="height: 100vh; color: #393939; font-size: 32px;">
        <h1 style="margin-bottom: 1rem;">Hello, I'm  <span style="color: #f7b4a4;">Cláudia</span></h1>
        <p style="margin: 0;">I'm a front-end developer with a passion</p>
        <p style="margin: 0;">for bringing beautiful designs and great features to life</p>
    </div>
</div> -->