html, body {
  margin: 0;
  font-family: 'Bayon', sans-serif;
  height: 100vh;
  background-color: #f9f9f9 !important;
  background-image: radial-gradient(circle at top left, #efe6f1 15%, transparent 25%),
                    radial-gradient(circle at bottom right, #efe6f1 15%, transparent 25%)
}

#heading0, #heading1 {
    min-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #2f2929;

    &:after {
      content: "";
        width: 18px;
        height: 6px;
        display: block;
        background: transparent;
        color: #2f2929;
        margin-bottom: 4px;
        margin-left: 2px;
        animation-duration: 350ms;
        animation-name: fade;
        animation-direction: alternate;
        animation-iteration-count: 4;
    }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    background-color: #2f2929;
  }
}

#heading2 {
    min-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: #2f2929;
  
    &:after {
      content: "";
        width: 18px;
        height: 6px;
        display: block;
        background: transparent;
        color: #2f2929;
        margin-bottom: 4px;
        margin-left: 2px;
        animation-duration: 350ms;
        animation-name: fade2;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}
  
@keyframes fade2 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
      background-color: #2f2929;
    }
}

// common breakpoints
// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV